body {
    background-color: #F8F8F8;
    font-family: 'Merriweather Sans', sans-serif;
    margin-left: 10%;
    max-width: 800px;
    margin-right: 10%;
    margin-top: 5%;
}

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.35;
}

#description {
    font-size: 20px;
}

#discord {
    color: #5865F2;
}

#cea {
    color: #18ADE4;
}

#facet {
    color: #FE2EFF;
}

#linkedin {
    color: #0E76A8;
}

#utaustin {
    color: #BF5700;
}

#drawbridge {
    color: #FD5156;
}

#nexus {
    color: #8081FF;
}

#tenfold {
    color: #00A4E6;
}

#vast {
    color: #2C65B0;
}

#twitch {
    color: #9146FF;
}

#apple {
    color: #999999;
}

#spredfast {
    color: #F26321;
}

#activision {
    color: #429CE5;
}

#cod {
    color: #51852B;
}

#freetail {
    color: #B1248C;
}

#mad {
    color: #1EBD5F
}

#roadshow {
    color: #BF5700;
}

#sixteenzero {
    color: #0467C1;
}

#mlds {
    color: #476E8F;
}

#eleuther {
    color: #1B1B1B;
}