body {
	background-color: #1DE9B6;
	font-family: 'Merriweather Sans', sans-serif;
}

.description {
	color: #394F5B;
	font-size: 45px;
	letter-spacing: 0.15px;
	padding-left: 5%;
	padding-top: 10%;
	padding-right: 10%;
}